.cartHeader{
    text-align: center;
}
.cartItemBox {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dadfea;
    width: 80%;
    margin: auto;
    padding: 5px;
}
.deleteIcon{
    color: #AFAAAB;
}
.cartTotalBox {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: auto;
    padding-top: 15px;
}
.cartTotal {
    margin-right: 10px;
}
.checkOutBtn {
    display: flex;
    justify-content: flex-end;
    width: 83%;
    margin: auto;
    padding-top: 15px;
}
